div#content{
	.bcg{
		width: 100%;
		background-image: url("images/military-background1.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 77px;
	    background-attachment: fixed;
		.container{
			padding-top:140px;
			padding-bottom:400px;
		    position:relative;

		    h1{
		    	margin-bottom:25px;
		    }

		    img.logo{
		    	margin-bottom:25px;
		    }

		    .separador{
		    	margin-bottom:25px;
		    }

		    p{
		    	color:#FFF;
		    }

		    .video {
		    	position:absolute;
		    	bottom:-300px;
		    }
	    }
	}

	.bcgb{
		height: 100vh;
		width: 100%;
		background-image: url("images/military-background2.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 77px;
	}
	.bcgc{
		height: 100vh;
		width: 100%;
		background-image: url("images/military-background3.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 77px;
	    background-attachment: fixed;
	}
}
@media (max-width: 991px) {

}

@media (min-width: 992px) {  
  
}
