#content{
	#bcg{
		width: 100%;
		background-image: url("images/military-background1.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 67px;
	    background-attachment: fixed;
		.container{
			padding-top:140px;
			padding-bottom:400px;
		    position:relative;

		    h1{
		    	margin-bottom:25px;
		    }

		    img.logo{
		    	margin-bottom:25px;
		    }

		    .separador{
		    	margin-bottom:35px;
		    }

		    p{
		    	color:#FFF;
		    }

		    .video {
		    	position:absolute;
		    	bottom:-300px;
		    	z-index:1000;
		    }
	    }
	}

	#bcgb{
		width: 100%;
		background-image: url("images/military-background2.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;

		.container{
			padding-top:400px;
			padding-bottom:200px;

		    h2{
		    	margin-bottom:25px;
		    	color:#f7aa0f;
		    }

		    h3{
		    	margin-bottom:25px;
		    }

		    .separador{
		    	margin-bottom:35px;
		    }
	    }
	}

	#bcgc{
		width: 100%;
		background-image: url("images/military-background3.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 67px;
	    background-attachment: fixed;
	    .container{
			padding-top:100px;
			padding-bottom:200px;
			position:relative;

		    h2{
		    	margin-bottom:25px;
		    }

		    h3{
		    	margin-bottom:25px;
		    }

		    .separador{
		    	margin-bottom:35px;
		    }

		    p{
		    	color:#FFF;
		    }
		    .military-base{
		    	position:absolute;
		    	bottom:60px;
		    	right:15px;
		    }
	    }
	}

	#bcgd{
		width: 100%;
		background-image: url("images/military-background4.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;

		.container{
			padding-top:100px;
			padding-bottom:500px;
		    position:relative;

		    h2{
		    	margin-bottom:25px;
		    }

		    img.logo{
		    	margin-bottom:25px;
		    }

		    .separador{
		    	margin-bottom:35px;
		    }


		    .cronograma {
		    	position:absolute;
		    	bottom:-700px;
		    }
	    }
	}

	#bcge{
		width: 100%;
		background-image: url("images/military-background5.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center 67px;
	    background-attachment: fixed;
	    .container{
			padding-top:260px;
			padding-bottom:200px;
		    position:relative;

		    h2{
		    	margin-bottom:25px;
		    }

		    h3{
		    	margin-bottom:25px;
		    }

		    .separador{
		    	margin-bottom:35px;
		    	margin-top:80px;
		    }

		    p{
		    	color:#FFF;
		    }
	    }
	}

	#bcgf{
		width: 100%;
		background-image: url("images/military-background6.jpg");
	    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;

		.container{
			padding-top:200px;
			padding-bottom:200px;
		    position:relative;

		    h2{
		    	margin-bottom:25px;
		    }

		    .tel{
		    	color:#f7aa0f;
		    	font-size:40px;
		    	font-family: Bebas Neue, Arial, "Helvetica Neue", Helvetica, sans-serif;
		    }

		    .separador{
		    	margin-bottom:35px;
		    }

	    }
	}
}
@media (max-width: 991px) {
	#bcg{
		.container{
			padding-top:100px !important;
			padding-bottom:200px !important;

		    .video {
		    	bottom:-100px !important;
		    }
		}
	}
	#bcgd{

		.container{
			padding-bottom:200px !important;

		    .cronograma {

		    	bottom:-300px !important;
		    }
	    }
	}
}

@media (min-width: 992px) {  
  
}
