#footer{
	background: #2d2d2d;
	color:#FFFFFF;
	padding-top:60px;
    padding-bottom:40px;

    h4{
        color:#f7aa0f;
    }

    a{
        color:#FFF;
    }
    .redes{
        float:left;
        padding-left:10px;
    }

}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
