#pesquisa{
    background-color:#2d2d2d;
    padding:15px 0;

    .logop{
        margin-top:3px;
    }
    .cbusca{
        float:left;
        display:block;
        padding:3px 15px;
        background-color:#141414;
        color:#FFF;
        border:2px solid #141414;
        width:80%;
    }
    .bbusca{
        float:left;
        display:block;
    }
    .bbusca:hover{
        cursor:pointer;
    }
}
#header{
	position:absolute;
	z-index:1000;
	right:0;
	left:0;
    top:120px;
    nav{
        padding:0;

        a{
            padding:0;
            padding-right:30px;
            color:#FFF;
            font-family: Bebas Neue, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size:26px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out; 
            transition: all 0.5s ease-in-out;
        }

        a:hover{
            color:#292929;
        }
    }
}

.fixar {
    padding:14px 0 !important;
    position:fixed !important;
    z-index: 1000 !important;
    margin-top: 0px !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    background-color: #2d2d2d !important;

    a:hover{
        color: #ffab00 !important;
    }
}

@media (max-width: 991px) {
    #pesquisa{
        display:none;
    }
    #header{
        background-color:#2d2d2d;
        top: 0;
        padding:16px 0 !important;
        .logop-mobile{
            display:block;
            position: absolute;
            right:10px;
            top:10px;
        }
    }
}

@media (min-width: 992px) {  
	.logop-mobile{
        display:none;
    }
}
